/usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java;m
/usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java;m
/usr/bin/python2.7;m
/usr/bin/python3.5;m
/usr/lib/mdm/mdmwebkit;m
/usr/lib/firefox/firefox;m
/usr/lib/firefox/plugin-container;m
/usr/lib/thunderbird/thunderbird;m
/usr/lib/chromium-browser/chromium-browser;m
/usr/bin/amarok;m
/usr/bin/pulseaudio;m
/usr/bin/qemu-system-*;m
/usr/lib/xorg/Xorg;m
/usr/sbin/synaptic;m
/usr/bin/yelp;m
/usr/bin/xplayer;m

# IDA pro
/path/ida-6.9*/plugins/python.plx*;pm
/path/ida-6.9*/idaq*;pm

#debug
/opt/qemu/bin/qemu-system-*;m

# fcitx
/usr/bin/fcitx-qimpanel;m
/usr/bin/fcitx-qimpanel-configtool;m

# valgrind
/usr/lib/valgrind/memcheck-amd64-linux;m

# maxima
/usr/lib/maxima/5.37.2/binary-gcl/maxima;mr
