# Java
/usr/lib/jvm/java-7-openjdk-amd64/jre/bin/java;m
/usr/lib/jvm/java-8-openjdk-amd64/jre/bin/java;m
/usr/lib/jvm/java-8-openjdk-amd64/bin/javac;m
/usr/lib/jvm/java-9-openjdk-amd64/bin/java;m
/usr/lib/jvm/java-9-openjdk-amd64/bin/javac;m

# Python
/usr/bin/python2.7;m
/usr/bin/python3.5;m

/usr/lib/mdm/mdmwebkit;m
/usr/lib/firefox/firefox;m
/usr/lib/firefox/plugin-container;m
/usr/lib/thunderbird/thunderbird;m
/usr/lib/chromium-browser/chromium-browser;m
/usr/bin/amarok;m
/usr/bin/pulseaudio;m
/usr/bin/qemu-system-*;m
/usr/lib/xorg/Xorg;m
/usr/sbin/synaptic;m
/usr/bin/yelp;m
/usr/bin/xplayer;m

# IDA pro
/home/hardenedlinux/ida-6.95/plugins/python.plx*;pm
/home/hardenedlinux/ida-6.95/idaq*;pm

#debug
/opt/qemu/bin/qemu-system-*;m
/usr/bin/gdb;pm

# fcitx
/usr/bin/fcitx-qimpanel;m
/usr/bin/fcitx-qimpanel-configtool;m

# valgrind
/usr/lib/valgrind/memcheck-amd64-linux;m

# mono
/usr/bin/mono-sgen;m

# maxima
/usr/lib/maxima/5.37.2/binary-gcl/maxima;mr

# LibreOffice
/usr/lib/libreoffice/program/soffice.bin;m

# atom editor
/usr/share/atom/atom;m
/usr/bin/atom;m
/usr/share/atom/resources/app/apm/bin/apm;m
/usr/share/atom/resources/app/apm/bin/node;m

# clamav
/usr/bin/clamscan;m

# Nodejs
/usr/bin/nodejs;m

# xdag
/usr/local/sbin/xdag;m

# SIGNAL
/opt/Signal/signal-desktop;m

# GRUB
/usr/sbin/grub;m

# TOR Browser
/opt/hardenedlinux/tor-browser/tor-browser_en-US/Browser/firefox.real;m
