# Java
/usr/bin/java;m
/usr/lib/jvm/java-9-openjdk-amd64/bin/*;m
/usr/lib/jvm/java-8-openjdk-amd64/bin/*;m

# QEMU
/usr/bin/qemu-system-*;m

# Perf
/usr/bin/stress-ng;m

# Python
/usr/bin/python2.7;mr

# Gnome 3
/usr/bin/gnome-shell;m
/usr/lib/gnome-session/gnome-session-binary;m
/usr/bin/pulseaudio;m
/usr/lib/gnome-terminal/gnome-terminal-server;m

# Chrome
/opt/google/chrome/chrome;me
/opt/google/chrome/nacl_helper;pme
/opt/google/chrome/chrome-sandbox;me
